<form action="">
    <div>
        {{{inputOldPassword}}}
    </div>
    <div>
        {{{inputNewPassword}}}
    </div>
    <div>
        {{{inputPassword2}}}
    </div>
    <div>
        {{{saveButton}}}
    </div>
</form>