<html>
    <head>
        <link rel="stylesheet" href="./chat.scss">
    </head>
    <body>
    <div class="display-flex height-100-percent">
        <div class="chat-list-container">
            {{> chatlist}}
        </div>
        <div class="chat-list-area">
            {{> area}}
        </div>
    </div>
    </body>
</html> 