<html>
	<head>
		<link rel="stylesheet" href="./errors.scss" />
	</head>
	<body class="content-center-wrapper">
		<div class="text-align-center">
			<div class="error-code-header margin-bottom-25">500</div>
			<div class="header margin-bottom-150">Мы уже фиксим</div>
			<div>
				<a href="/src/pages/chat/chat.hbs" class="link">К списку чатов</a>
			</div>
		</div>
	</body>
</html>