<div class="text-align-center">
  <div class="error-code-header margin-bottom-25"> {{{errorCode}}}</div>
  <h1 class="margin-bottom-150"> {{{errorText}}}</h1>
  <div>
    <a href="/pages/chat/index.html" class="link">К списку чатов</a>
  </div>
</div>