.auth_container {
	background: $bgFormColor;
	width: 1170px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	flex-direction: row-reverse;
}

.auth_container_more {
	background: url(../../images/signin_bg.jpg);
	background-size: cover;
	width: 50%;
	background-position: center;
}

.auth-input {
	@extend %element-style-shared;
	@extend %label-style-shared;
	border: 1px solid $bgColorLine;
	margin-bottom: 20px;
}
