.auth-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: stretch;
  width: 1170px;
  background: $bgFormColor;
}

.auth-container-more {
  width: 50%;
  background: url("../../images/signin_bg.jpg");
  background-position: center;
  background-size: cover;
}

.auth-input {
  margin-bottom: 20px;
  border: 1px solid $bgColorLine;

  @extend %element-style-shared;
  @extend %label-style-shared;
}
