<div class="hide file-upload-modal modal">
	<div class="modal-container text-align-center">
		<form action="" class="modal-container-form">
			<div class="header">Загрузить фото</div>
			<div><input type="file" /></div>
			<div class="margin-top-50"><button class="button">Сохранить изменения</button></div>
			<div class="margin-top-25"><a href="" class="link close">Закрыть</a></div>
		</form>
	</div>
</div>