---
items: [
    { caption: "Форма авторизации", href: "/src/pages/signin/signin.hbs" }, 
    { caption: "Форма регистрации", href: "/src/pages/signup/signup.hbs" }, 
    { caption: "Просмотр профиля", href: "/src/pages/profile/index.hbs" }, 
    { caption: "Редактирование профиля", href: "/src/pages/profile/edit.hbs" }, 
    { caption: "Редактирование пароля", href: "/src/pages/profile/editpass.hbs" }, 
    { caption: "Заглушка для чата", href: "/src/pages/chat/chat.hbs" }, 
    { caption: "404", href: "/src/pages/errors/404.hbs" }, 
    { caption: "500", href: "/src/pages/errors/500.hbs" }
]
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Главная</title>
		<link rel="stylesheet" href="./styles/style.scss" />
	</head>
	<body>
		<main class="content-center-wrapper">
			<div class="content-container">
				<ul>
					{{#each items}}
						<li class="margin-top-25">
							<a class="link" href={{this.href}}>{{this.caption}}</a>
						</li>
					{{/each}}
				</ul>
			</div>
		</main>
	</body>
</html>