<div class="{{className}}">
    {{text}}
    <div class="description text-align-right padding-top-15">
        <span>
            {{date}}
        </span>
        <span class="read-mark">
            {{#if read}}
            &#10004;&#10004;
            {{/if}}
        </span>
    </div>
</div>